.routeTagContainer {
    /* height: 32px; */
    line-height: 15px;
    overflow: hidden;
}

.routeTag {
    display: inline;
    font-size: 12px;
    font-weight: 400;
    color: #5BDAFF;
    white-space: normal;
    overflow-wrap: normal;
    margin-right: 6px;
}

.routeTag::before {
    content: " #";
}
