h1 {
    font-weight: 500;
    font-size: 24px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
}

h3 {
    font-weight: 300;
    font-size: 16px;
}

.txt {
    font-family: 'Montserrat';
    color: #393939;
}

.sideContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 525px;
    height: 100vh;
    transition: left 0.5s ease-in-out;
    padding: 80px 0 0 15px;
    background-color: white;
}

.scrollArea {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 0;
    gap: 9px;
    height: 100%;
    overflow: scroll;
}

.sideHiden {
    left: -525px;
}

.categoryContainer {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 0 20px;
}

.categoryButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 10px;
    color: #53515E;
    cursor: pointer;
}

.categoryImage {
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.recContainer {
    flex: 1;
    padding-bottom: 15px;
}

.recTabContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
}

.recTabContainer input {
    display: none;
}

.recTab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 95px;
    font-size: 20px;
    color: #AFAEB5;
    cursor: pointer;
    font-weight: 500;
}

.recTabContainer input:checked+.recTab {
    color: #C9F3FF;
}

.recTab::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #C9F3FF;
    transition: transform 0.2s ease-in-out;
    transform: scaleX(0);
}

.recTabContainer input:checked+.recTab::after {
    transform: scaleX(1);
}

.recRoutes {
    flex-direction: column;
    margin: 20px 0 0 20px;
    /* margin-top: 20px; */
    gap: 35px;
}
