.card {
    display: flex;
    position: relative;
    flex-direction: row;
    gap: 20px;
    padding-right: 10px;
}

.cardTint {
    position: absolute;
    top: -10;
    right: 0;
    bottom: -10;
    left: -10;
    transition: background-color 100ms ease-in-out;
    pointer-events: none;
}

.card:hover .cardTint {
    border-radius: 5px;
    background-color: #00000008;
}

.cardContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    width: 248px;
    gap: 5px;
}

.cardThumbnail {
    border-radius: 5px;
    cursor: pointer;
}

.cardName {
    height: 25px;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 220px;
}

.cardDesc {
    display: -webkit-box;
    height: 95px;
    font-size: 16px;
    font-weight: 400;
    overflow: hidden;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.cardFooter {
    position: absolute;
    bottom: 0;
}

.interactContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.interactContainer span, .interactContainer label {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.interactContainer img {
    height: fit-content;
}

.interactTxt {
    font-weight: 400;
    font-size: 18px;
}

.likeButton {
    cursor: pointer;
}

.likeButton>input {
    display: none;
}

.likeButton>input:hover ~ svg {
    fill: #5957632a;
}

.likeButton>input:checked ~ svg {
    fill: #CB4843;
}

.likeButton>input:checked ~ svg>path {
    stroke: #CB4843;
}

.likeButton:hover>input:checked ~ svg {
    fill: #ac3c38;
}

.likeButton:hover>input:checked ~ svg>path {
    stroke: #ac3c38;
}

.favButton {
    position: absolute;
    top: 0;
    right: -5;
    cursor: pointer;
    padding: 5px;
}

.favButton>input {
    display: none;
}

.favButton>input:hover ~ svg {
    fill: #5957632a;
}

.favButton>input:checked ~ svg {
    fill: #FFDC64;
}

.favButton>input:checked ~ svg>path {
    stroke: #FFDC64;
}

.favButton>input:checked ~ svg:hover {
    fill: #e5c55b;
}

.favButton>input:checked ~ svg:hover>path {
    stroke: #e5c55b;
}

