.pointType {
  font-size: 16px;
  font-weight: 400;
  height: 20px;
}

.pointLocation {
  font-size: 14px;
  font-weight: 400;
  height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.pointDesc {
  height: 85px;
  font-size: 14px;
}