h1 {
    font-weight: 500;
    font-size: 24px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
}

h3 {
    font-weight: 300;
    font-size: 16px;
}

img {
    height: fit-content;
}

.txt {
    font-family: 'Montserrat';
    color: #393939;
}
