.routeSideContainer {
    position: absolute;
    left: 534px;
    top: 18px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 525px;
    /* height: 100%; */
    transition: left 0.5s ease-in-out;
    padding: 10px 15px;
    background-color: white;
    gap: 20px;
    border-radius: 20px;
}

.routeHeader {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 495px;
    height: 63px;
}

.routeProfile {
    max-width: 247px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.routeProfile>div {
    display: flex;
    flex-direction: column;
}

.routeProfile>div>h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

.routeProfile>div>h3 {
    font-size: 10px;
}

.routeProfile>img {
    border-radius: 100%;
}

.routeInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.routeInfo > .interactContainer {
    margin: 0;
}

.routeInfo>div>span {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.routeDesc {
    display: flex;
    flex-direction: column;
    max-height: 165px;
    max-width: 495px;
    gap: 10px;
}

.routeDesc>span {
    font-size: 18px;
    font-weight: 400;
}

.routeTag {
    font-size: 16px !important;
    font-weight: 300 !important;
}

.routeSideContainer > .collapseContainer {
    top: -8px;
    right: -55px;
    position: absolute;
    height: 63px;
}