.searchContainer {
    position: absolute;
    left: 15px;
    top: 10px;
    display: flex;
    flex-direction: row;
}

.searchBar {
    display: flex;
    flex-direction: row;
    border-radius: 17px;
    width: 500px;
    height: 60px;
    background-color: #EEEEEF;
    box-shadow: none;
    padding-left: 20px;
    margin-right: 10px;
    transition-property: box-shadow background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

.sideHiden ~ .searchContainer .searchBar {
    background-color: white;
    box-shadow: 0px 4px 4px #0000004a;
}

.searchBar>img {
    height: fit-content;
    margin: 15px 0px;
}

.searchButton {
    display: flex;
    flex-direction: row;
    border-radius: 0 17px 17px 0;
    width: 100px;
    height: 60px;
    min-width: 100px;
    right: 0;
    background-color: #C9F3FF;
    align-items: center;
    gap: 10px;
    padding: 0 9px;
}

.searchField {
    padding: 0px 5px;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #53515E;
    outline: 0;
    flex: 1;
}

.separator {
    height: 32px;
    width: 1px;
    background-color: #393939;
}

.barButton {
    cursor: pointer;
}

.collapseContainer {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapseButton {
    transition: transform filter 0.1s ease-in-out;
    filter: drop-shadow(0px 4px 4px #0000004a);
    cursor: pointer;
}

.collapseButton:active {
    filter: drop-shadow(0px 0px 0px #0000004a);
    /* transform: translate(0, 1px); */
}

.collapseButton>img {
    transition: transform 0.1s ease-in-out;
}

.sideHiden ~ .searchContainer .collapseButton>img {
    transform: rotate(180deg);
}
