.cityPickerHeader {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cityPickerHeaderHeader {
  display: flex;
}

.cityPickerHeaderHeader>h1 {
  flex: 1;
  font-weight: 400;
  font-size: 35px;
}

.cityPickerHeader>span {
  font-weight: 100;
  font-size: 20px;
}

.cityPickerSearchContainer {
  display: flex;
  height: 50px;
  gap: 80px;
}

.cityPickerSearchBar {
  flex: 1;
  display: flex;
  border-width: 2px;
  border-color: #53515E;
  border-radius: 17px;
  padding-left: 25px;
}

.cityPickerSearchBar>input {
  flex: 1;
  outline: 0;
}

.cityPickerSearchBar>button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80;
  background-color: #C9F3FF;
  border-width: 0 0 0 2px;
  border-color: #53515E;
  border-radius: 0 17px 17px 0;
  cursor: pointer;
}

.cityPickerPickButton {
  width: 270px;
  border-width: 2px;
  border-color: #53515E;
  border-radius: 17px;
  cursor: pointer;
}

.cityPickerList {
  flex: 1;
  align-items: center;
}

.cityPickerList>li {
  display: block;
  width: 33%;
  float: left;
  font-weight: 300;
  font-size: 25px;
  margin: 25px 0;
}

.cityPickerList>li>button {
  cursor: pointer;
}